<div class="container">
    <h3>Sản phẩm nổi bật</h3>
    <div class="row">
        {{#each cars}}
        <div class="col-sm-6 col-lg-4">
            <article class="cards mt-4">
                <div class="temporary_text">
                    <img src="http://img.youtube.com/vi/{{this.videoId}}/maxresdefault.jpg" class="card-img-top"
                        alt="{{this.name}}">
                </div>
                <div class="card_content">
                    <span class="card_title">{{this.tenxe}} </span>
                    <span class="card_subtitle">{{slogan this.tenxe}} </span>

                    <div class="row" style="margin-top: 20px;">
                        <p class="col-sm-4">Giá từ:</p>
                        <p class="col-sm-8" style="color: red;font-weight: bold;"> {{price this.giaban}}<i
                                class="bi bi-currency-dollar"></i></p>
                    </div>

                    <div class="row">
                        <p class="col-sm-4">Sx năm:</p>
                        <p class="col-sm-8"> {{this.namsx}}</p>
                    </div>

                    <div class="row">
                        <p class="col-sm-4">Biển số:</p>
                        <p class="col-sm-8"> {{this.bienso}}</p>
                    </div>

                    <div class="row">
                        <p class="col-sm-4">Lăn bánh:</p>
                        <p class="col-sm-8"> {{this.lanbanh}} (km)</p>
                    </div>

                    <div class="d-flex mt-2">
                        <a class="btn add-cart" href="/car/addcart/{{this._id}}"><i class="bi bi-cart-plus"></i>Thêm giỏ hàng</a>
                        <a class="btn buy-car" href="/admin/contract/require/{{this._id}}">Mua ngay</a>
                    </div>
                </div>
            </article>
        </div>
        {{/each}}

    </div>
    <a class=" all btn btn-primary" href="/car/list">Xem tất cả</a>
</div>