<div class="containe">
    <div class="row ">
        <div class="col-2">

        </div>

        <div class="col-10 mb-4">
            <div class="row">
                {{#each cars}}
                <div class="col-sm-6 col-lg-4">
                    <article class="cards mt-4">
                        <div class="temporary_text">
                            <img src="http://img.youtube.com/vi/{{this.videoId}}/maxresdefault.jpg" class="card-img-top"
                                alt="{{this.name}}">
                        </div>
                        <div class="card_content">
                            <span class="card_title">{{this.tenxe}} </span>
                            <span class="card_subtitle">{{this.slogan}} </span>

                            <div class="row" style="margin-top: 20px;">
                                <p class="col-sm-4">Giá từ:</p>
                                <p class="col-sm-8" style="color: red;font-weight: bold;"> {{this.giaban}}<i class="bi bi-currency-dollar"></i></p>
                            </div>

                            <div class="row">
                                <p class="col-sm-4">Sx năm:</p>
                                <p class="col-sm-8"> {{this.namsx}}</p>
                            </div>

                            <div class="row">
                                <p class="col-sm-4">Biển số:</p>
                                <p class="col-sm-8"> {{this.bienso}}</p>
                            </div>
                            <div class="row">
                                <p class="col-sm-7"><i class="bi bi-person-circle"></i> : {{this.nguoiban}}</p>
                                <p class="col-sm-5"> <i class="bi bi-geo-fill"></i> : {{this.diachi}}</p>
                            </div>
                            <button class="btn btn-primary mt-2">Liên hệ</button>
                        </div>
                    </article>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>