<div class="container">
    <div style="margin-top: 80px">
        <form method="POST" action="/car/action-with-multi-car">
            <div style="display: flex; justify-content: center;">
                <h2>Danh sách xe của tôi</h2>
            </div>
            {{#if countDeleted}}
            <div style="display: flex; justify-content: center;">
                <a href="/car/trash">Thùng rác({{countDeleted}})</a>
            </div>
            {{/if}}

            <div class="mt-4 d-flex">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                </div>
            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Chọn</th>
                        <th scope="col">#</th>
                        <th scope="col">Tên xe</th>
                        <th scope="col">Biển số</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Thời gian tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cars}}
                    <tr>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="checkbox" value="{{this._id}}" name="carIds[]">
                            </div>
                        </td>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.tenxe}}</td>
                        <td>{{this.bienso}}</td>
                        <td>{{this.giaban}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <a href="/car/edit/{{this._id}}" class="btn btn-primary">Sửa</a>
                            <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-car"
                                data-id="{{this._id}}">Xóa</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="7" class="text-center">Bạn chưa đăng bán xe nào
                            <a href="/car/create">Tạo đơn bán</a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="d-flex">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    style="width: 180px;margin-right:  16px;" name="action" required>
                    <option selected value="">Chọn chức năng</option>
                    <option value="delete">Xóa</option>
                </select>
                <button class="btn btn-primary disabled" id="submit-btn" type="submit">Thực hiện</button>
            </div>
        </form>
    {{!-- </div> --}}
</div>


{{!-- confirm delete car --}}
<div class="modal fade" id="delete-car" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn chắc chắn muốn xóa chiếc xe này?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-car">Xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- form ảo --}}
<form name="form-delete" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var carId;
        const deleteForm = document.forms['form-delete']
        const deleteCar = document.getElementById('delete-car')
        const checkBoxAll = $('#checkbox-all')
        const carCheckBox = $('input[name="carIds[]"]')
        const submitBtn = $('#submit-btn')

        deleteCar.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            carId = button.getAttribute('data-id')
        })
        document.getElementById('btn-delete-car').onclick = () => {
            deleteForm.action = '/car/delete/' + carId + '?_method=DELETE'
            deleteForm.submit()
        }

        checkBoxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            carCheckBox.prop('checked', isCheckedAll)
            renderSubmitBtn()
        })
        carCheckBox.change(function () {
            var isCheckedAll = carCheckBox.length === $('input[name="carIds[]"]:checked').length
            checkBoxAll.prop('checked', isCheckedAll)
            renderSubmitBtn()
        })

        function renderSubmitBtn() {
            if ($('input[name="carIds[]"]:checked').length > 0) submitBtn.removeClass('disabled')
            else submitBtn.addClass('disabled')
        }
    })
</script>